@import url('typo.css');

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

body {
	height: 100vh;
	font-size: 16px;
	line-height: 1.2;
}

.container {
	margin: 0 auto;
	width: 60%;
	min-width: 500px;
	font-family: 'SansPro-Regular', sans;
	text-align: left;
	font-style: normal;
	font-weight: bold;
}

.container .title {
	margin: 0;
	padding: 0;
	padding: 0.5em;
	font-family: 'SansPro-Black', sans;
	font-size: 2.5rem;
}

.container .title span {
	font-size: .7em;
	font-weight: normal;
}

.container .title .inner-wrapper {
	display: inline-block;
	padding: 0 1rem;
	background-color: #000;
	font-family: monospace;
	border-radius: 3px;
}

.container .title .fa {
	font-size: 1.7rem;
}

.container .title .fa + span {
	color: #fff;
}

.container ol {
	padding: 1em;
	width: 70%;
	margin: 0;
}

.container ol li {
	font-size: 1.2em;
	line-height: 1.6;
}

.container .settings {
	padding: 1em 0;
	margin: 0 auto;
	width: 60%;
	display: flex;
	justify-content: space-around;
}

.container .settings input[type='number'],
.container .settings button {
	outline: none;
}

.container .settings input[type='number'] {
	padding: 0 .5em;
	position: relative;
	width: 20%;
	font-size: 1em;
	font-family: 'SansPro-Regular', sans;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
	background: #fff;
	border: none;
	border-radius: 3px;
}

.container small {
	font-family: 'SansPro-ExtraLightIt', sans;
}

.todo-list {
	font-family: 'SansPro-ExtraLightIt';
	font-size: .8rem;
}

.todo-list .done {
	text-decoration: line-through;
}