doctype html
html
  head
    meta(charset="utf-8")
    title Console Barley Break
  body
    input#matrixSize(type="text", placeholder="test", value="4")
    button#start Start
    script(src="bundle.js")
