doctype html
html
  head
    meta(charset="utf-8")
    title Console Barley Break
  body
    .container
    .container Test
    .container Test 2
    .container Test 3
    .container Test 4
    script(src="bundle.js")
